.general-section {
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 3em;
  padding-bottom: 3em;
  h1 {
    width: 100%;
    font-size: 2.2em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .job {
    text-align: left;
    h3 {
      font-size: 1.4em;
      margin: 0;
    }
  }

  .section-detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    > .short-detail {
      width: 48%;
      text-align: left;
    }
  }
}
